body{
background:rgb(206,181,167); 
}
header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B8C0_Zc1OnN2elpUeTZubW1DNDA=w1304-h875-iv1');
      background-size: cover;
      color: white;
    }
    a {
      color:white;
      font-family:'Delius', cursive; 
    }
    h1 {
      text-align: center; 
      font-family: 'Sacramento',cursive;
      font-size: 40px;
      color:rgb(155,180,170);
    }
    img { 
      margin: 40px 0px 0px 0px;
      border:7px solid white); 
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      width: 700px; 
      padding: 30px;
      margin: 0 auto;
      width: 500px;
      max-width:500px;
    }
    @media (max-width: 500px) {
      body {
        text-align: left
        background:rgb(206,181,167;
      }
       h1 { 
      font-size: 36px; 
    } 
    li {
      display: block; 
      padding: 5px;
      
    }


